// src/styles/arco-custom.scss

// 基础变量定义
$arcoblue-6: #165dff; // 主色

// 布局相关
$layout-header-height: 48px;
$layout-sider-background: #1d2129;
$menu-dark-bg: $layout-sider-background;

// 菜单相关
$menu-collapsed-width: 60px;
$menu-item-height: 46px;
$menu-item-font-size: 14px; 